*

# irregular non .config files
!.gitignore
!irregular
!irregular/*
!irregular/.local
!irregular/.local/*
!irregular/.local/share/*
!irregular/.local/share/fonts/*
!irregular/.local/share/fonts/JetBrainsMono/*

# semi-regular .config files
!starship.toml


# regular .config directories
!nemo
!nemo/*
!easyeffects
!easyeffects/*
!easyeffects/input/*
!easyeffects/output/*

!rofi
!rofi/*
!rofi/scripts/*

!nvim
!nvim/*
!nvim/after/*
!nvim/after/ftplugin/*
!nvim/lua/*
!nvim/lua/config/*
!nvim/lua/plugins/*
!nvim/plugin/*
!nvim/snips/*
!nvim/spell/*
